[program:redis]
directory=/home/{{ redis_install_user }}/{{ redis_home_dir }}                                                 ;
command=/home/{{ redis_install_user }}/{{ redis_home_dir }}/bin/redis-server /home/{{ redis_install_user }}/{{ redis_home_dir }}/conf/redis.conf ;
stopsignal=KILL                                                             ;
stderr_logfile=/var/log/supervisor/redis.err                                ;
stdout_logfile=/var/log/supervisor/redis.out                                ;
stdout_logfile_maxbytes=10MB                                                ;
stdout_logfile_backups=10                                                   ;
user={{ redis_install_user }}                                             ;
umask=022                                                                   ;
autostart=true                                                              ;
autorestart=true                                                            ;
startsecs=10                                                                ;
startretries=3                                                              ;
stopasgroup=true                                                            ;
killasgroup=true                                                            ;
redirect_stderr=false                                                       ;
