[program:{{ zookeeper_service_name }}]
environment=JAVA_HOME="{{ java_home }}"                  ;
directory={{ zookeeper_home_dir }}                       ;
command=bash {{ zookeeper_home_dir }}/bin/zkServer.sh start-foreground ;
stderr_logfile={{ supervisord_log_dir }}/starrocks-be.err      ;
stdout_logfile={{ supervisord_log_dir }}/starrocks-be.log      ;
stdout_logfile_maxbytes=15MB                             ;
stdout_logfile_backups=10                                ;
user={{ zookeeper_install_user }}                        ;
umask=022                                                ;
autostart=true                                           ;
autorestart=true                                         ;
startsecs=10                                             ;
startretries=3                                           ;
stopasgroup=true                                         ;
killasgroup=true                                         ;
redirect_stderr=false                                    ;
