[program:{{ minio_service_name }}]
directory=/home/{{ minio_install_user }}                                                                               ;
environment=MINIO_ROOT_USER={{ minio_admin_user }}, MINIO_ROOT_PASSWORD={{ minio_admin_password }}                                                                         ;
command= /home/{{ minio_install_user }}/{{ minio_name }} server /data/minio --console-address "{{ minio_service_port }}" ;
stopsignal=KILL                                                                                                        ;
stderr_logfile=/var/log/supervisor/{{ minio_service_name }}.err                                                        ;
stdout_logfile=/var/log/supervisor/{{ minio_service_name }}.out                                                        ;
stdout_logfile_maxbytes=10MB                                                                                           ;
stdout_logfile_backups=10                                                                                              ;
user={{ minio_install_user }}                                                                                          ;
umask=022                                                                                                              ;
autostart=true                                                                                                         ;
autorestart=true                                                                                                       ;
startsecs=10                                                                                                           ;
startretries=3                                                                                                         ;
stopasgroup=true                                                                                                       ;
killasgroup=true                                                                                                       ;
redirect_stderr=false                                                                                                  ;
