[program:{{ mysql_service_name }}]
directory={{ mysql_install_dir }}/{{ mysql_home_dir_name }}                                                  ;
command={{ mysql_install_dir }}/{{ mysql_home_dir_name }}/bin/mysqld --defaults-file={{ mysql_data_dir }}/etc/my.cnf ;
stopsignal=KILL                                                             ;
stderr_logfile=/var/log/supervisor/supervisor-mysql.err                                ;
stdout_logfile=/var/log/supervisor/supervisor-mysql.out                                ;
stdout_logfile_maxbytes=10MB                                                ;
stdout_logfile_backups=10                                                   ;
user={{ mysql_install_user }}                                          ;
umask=022                                                                   ;
autostart=true                                                              ;
autorestart=true                                                            ;
startsecs=10                                                                ;
startretries=3                                                              ;
stopasgroup=true                                                            ;
killasgroup=true                                                            ;
redirect_stderr=false                                                       ;
