[Unit]
Description=Supervisor daemon

[Service]
Type=forking
ExecStart=/usr/bin/supervisord -c {{ supervisord_conf_file }}
ExecStop=/usr/bin/supervisorctl -c {{ supervisord_conf_file }} shutdown
ExecReload=/usr/bin/supervisorctl -c {{ supervisord_conf_file }} reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target